# IDE - PyCharm/IntelliJ
.idea/workspace.xml
.idea/

# Python
__pycache__/
*.рус
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
myworld/Lib/
myworld/Include/
myworld/Scripts/
myworld/pyvenv.cfg

# Docs not for repository
ACHIEVEMENTS_SYSTEM.md
TESTING_GUIDE.md

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db
