# IDE - PyCharm/IntelliJ
.idea/workspace.xml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.local

# OS
.DS_Store
Thumbs.db
